{% extends 'base.html.twig' %}

{% block body %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">{{ 'nav.sitename'|trans }}</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#{{ 'nav.menu.1.identifier'|trans|lower }}">{{ 'nav.menu.1.title'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#{{ 'nav.menu.2.identifier'|trans|lower }}">{{ 'nav.menu.2.title'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#{{ 'nav.menu.3.identifier'|trans|lower }}">{{ 'nav.menu.3.title'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#{{ 'nav.menu.4.identifier'|trans|lower }}">{{ 'nav.menu.4.title'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>{{ 'box.header.title'|trans|raw }}</strong>
                    </h1>
                    <hr>
                </div>
                <div class="col-lg-8 mx-auto">
                    <p class="text-faded mb-5">{{ 'box.header.subtitle'|trans|raw }}</p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#{{ 'box.header.button.identifier'|trans|lower }}">{{ 'box.header.button.title'|trans }}</a>
                </div>
            </div>
        </div>
    </header>

    <!-- Infos -->
    <section class="bg-primary" id="{{ 'nav.menu.1.identifier'|trans|lower }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto  text-justify">
                    <h2 class="section-heading text-white text-center">{{ 'box.infos.title'|trans }}</h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4">{{ 'box.infos.subtitle'|trans|raw }}</p>
                    <div class="text-center">
                        <a class="btn btn-light btn-xl js-scroll-trigger" href="#{{ 'box.infos.button.identifier'|trans|lower }}">{{ 'box.infos.button.title'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->
    <section id="{{ 'nav.menu.2.identifier'|trans|lower }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ 'box.services.title'|trans }}</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-search text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3 text-capitalize">{{ 'box.services.1.title'|trans }}</h3>
                        <p class="text-muted mb-0">{{ 'box.services.1.subtitle'|trans|raw }}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-list text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3 text-capitalize">{{ 'box.services.2.title'|trans }}</h3>
                        <p class="text-muted mb-0">{{ 'box.services.2.subtitle'|trans|raw }}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-handshake-o text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3 text-capitalize">{{ 'box.services.3.title'|trans }}</h3>
                        <p class="text-muted mb-0">{{ 'box.services.3.subtitle'|trans|raw }}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-gear text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3 text-capitalize">{{ 'box.services.4.title'|trans }}</h3>
                        <p class="text-muted mb-0">{{ 'box.services.4.subtitle'|trans|raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- References -->
    <section class="p-0" id="{{ 'nav.menu.3.identifier'|trans|lower }}">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-4 col-sm-6 portfolio">
                    <a class="portfolio-box" href="{{ 'box.references.1.url'|trans }}" target="_blank">
                        <img class="lazy img-responsive img-fluid" data-original="{{ asset('/img/portfolio/fullsize/www.peugeotscooters.fr_-min.jpg') }}" width="650" height="470" alt="{{ 'box.references.1.alt'|trans }}">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    {{ 'box.references.1.category'|trans }}
                                </div>
                                <div class="project-name">
                                    {{ 'box.references.1.name'|trans|raw }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio">
                    <a class="portfolio-box" href="{{ 'box.references.2.url'|trans }}" target="_blank">
                        <img class="lazy img-responsive img-fluid" data-original="{{ asset('/img/portfolio/fullsize/www.unclejeans.com_-min.jpg') }}" width="650" height="470" alt="{{ 'box.references.2.alt'|trans }}">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    {{ 'box.references.2.category'|trans }}
                                </div>
                                <div class="project-name">
                                    {{ 'box.references.2.name'|trans|raw }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio">
                    <a class="portfolio-box" href="{{ 'box.references.3.url'|trans }}" target="_blank">
                        <img class="lazy img-responsive img-fluid" data-original="{{ asset('/img/portfolio/fullsize/www.sojeans.fr_fr_-min.jpg') }}" width="650" height="470" alt="{{ 'box.references.3.alt'|trans }}">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    {{ 'box.references.3.category'|trans }}
                                </div>
                                <div class="project-name">
                                    {{ 'box.references.3.name'|trans|raw }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio">
                    <a class="portfolio-box" href="{{ 'box.references.4.url'|trans }}" target="_blank">
                        <img class="lazy img-responsive img-fluid" data-original="{{ asset('/img/portfolio/fullsize/www.jeanstory.com_-min.jpg') }}" width="650" height="470" alt="{{ 'box.references.4.alt'|trans }}">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    {{ 'box.references.4.category'|trans }}
                                </div>
                                <div class="project-name">
                                    {{ 'box.references.4.name'|trans|raw }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio">
                    <a class="portfolio-box" href="{{ 'box.references.5.url'|trans }}" target="_blank">
                        <img class="lazy img-responsive img-fluid" data-original="{{ asset('/img/portfolio/fullsize/www.asapparis.com_-min.jpg') }}" width="650" height="470" alt="{{ 'box.references.5.alt'|trans }}">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    {{ 'box.references.5.category'|trans }}
                                </div>
                                <div class="project-name">
                                    {{ 'box.references.5.name'|trans|raw }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio">
                    <a class="portfolio-box" href="{{ 'box.references.6.url'|trans }}" target="_blank">
                        <img class="lazy img-responsive img-fluid" data-original="{{ asset('/img/portfolio/fullsize/www.gastonmille.com_-min.jpg') }}" width="650" height="470" alt="{{ 'box.references.6.alt'|trans }}">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    {{ 'box.references.6.category'|trans }}
                                </div>
                                <div class="project-name">
                                    {{ 'box.references.6.name'|trans|raw }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Download -->
    <section class="bg-dark text-white">
        <div class="container text-center">
            <h2 class="mb-4">{{ 'box.download.title'|trans }}</h2>
            <a class="btn btn-light btn-xl sr-button" href="{{ 'box.download.button.link'|trans }}" download="{{ 'box.download.button.filename'|trans }}">{{ 'box.download.button.title'|trans }}</a>
        </div>
    </section>

    <!-- Contact -->
    <section id="{{ 'nav.menu.4.identifier'|trans|lower }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">{{ 'box.contact.title'|trans }}</h2>
                    <hr class="my-4">
                    <p class="mb-5">{{ 'box.download.subtitle'|trans|raw }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center">
                    <p>
                        <a class="twitter-share-button" href="https://twitter.com/fabriceperez">Tweet</a>
                        <br>
                        <script async src="//platform.linkedin.com/in.js" type="text/javascript"> lang: fr_FR</script>
                        <script type="IN/Share" data-url="https://www.delrice.fr"></script>
                    </p>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <p>
                        <a href="mailto:{{ 'box.contact.email.mailto'|trans }}">{{ 'box.contact.email.title'|trans|raw }}</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {% javascripts
        'vendor/jquery/jquery.min.js'
        'vendor/bootstrap/js/bootstrap.bundle.min.js'
        'vendor/jquery-easing/jquery.easing.min.js'
        'vendor/scrollreveal/scrollreveal.min.js'
        'js/jquery.lazyload.min.js'
        'js/creative.js'
        'js/partners.js'
        output='js/app.js' %}
        <script src="{{ asset_url }}" defer></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        'vendor/bootstrap/css/bootstrap.min.css'
        'vendor/font-awesome/css/font-awesome.min.css'
        'css/fonts.css'
        'css/creative.css'
        filter='cssrewrite' output='css/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}